body {
  font-family: "Times New Roman", serif;
  font-size: 24px;
  line-height: 40px;
  color: #273d46;
  width: 841px;
  height: 1471px;
  margin: 125px 0 0 290px;
  background: #e8e8e8
}

.background-img {
  position: absolute;
  top: 110px;
  left: 142px;
  z-index: -1;
  opacity: 0.24;
}

.spaced {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.category {
  text-align: center;
  opacity: 0.6;
  padding-top: 28px;
}

h1 {
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 77px;
}

.main-photo {
  padding: 10px;
  box-shadow: 0 15px 65px 0 rgba(15, 16, 16, 0.15);
  margin-bottom: 97px;
}

.main-text {
  margin: 0 61px 64px 44px;
  opacity: 0.8;
}

.list {
  margin: 0 0 59px 40px;
}

.list li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 36px;
  background: url("../img/check_icon_37.png") left no-repeat;
  padding-left: 36px;
}

.product-information {
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.product-details {
  font-style: italic;
  color: #80b7b3;
}

.product-advantages {
  font-weight: 700;
}

.product-payment {
  text-decoration: line-through;
  opacity: 0.3;
}

.button {
  display: inline-block;
  border-radius: 30px;
  background: #80b7b3;
  padding: 2px 25px;
  margin: 0 0 104px 40px;
}

.button span {
  vertical-align: middle;
  color: #ffffff;
}

.button img {
  vertical-align: middle;
}
